
.brand-gradiant{
    background: #00a3d7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #00a3d7, #96d35f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #00a3d7, #96d35f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
 }

.banner-holder{
    background-image: url(img/Banner.jpg);
    background-size: cover;
    background-position: bottom;
 }